/* src/App.css */

:root {
  --black: #1f1f1f;
  --green: #4caf50;
  --red: #f44336;
}

body {
  color: var(--black);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  width: 100vw;
}

.app-name {
  font-size: 32px;
  text-shadow: 2px 2px #0000005a;
}

.App .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  background-color: #c9e4fa;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 3px 5px 10px rgba(24, 132, 218, 0.5);
}

.content .left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vl {
  border-left: 5px solid var(--black);
  height: -webkit-fill-available;
  border-radius: 30px;
}

div {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin-right: 8px;
}

button {
  padding: 8px;
  background-color: var(--green);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--green);
}

ul {
  list-style-type: none;
  padding: 0;
}

li label {
  margin: 8px 0;
  display: flex;
  align-items: center;
}

li label input[type='checkbox'] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.2);
  /* IE */
  -moz-transform: scale(1.2);
  /* FF */
  -webkit-transform: scale(1.2);
  /* Safari and Chrome */
  -o-transform: scale(1.2);
  /* Opera */
  transform: scale(1.2);
}

li button {
  margin-left: 8px;
  background-color: var(--red);
  color: white;
  border: none;
  cursor: pointer;
}

li button:hover {
  background-color: var(--red);
}

li h4 {
  padding: 0px 10px;
}

.right-content {
  border: 1px solid var(--black);
  padding: 10px 20px;
  border-radius: 15px;
  background-color: rgb(203, 225, 245);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22), 5px 3px 8px rgba(0, 0, 0, 0.30);
}

.right-content .filter-search {
  display: flex;
  align-items: center;
}

.right-content .filter-search .filter-icon {
  background-color: rgb(234, 238, 251);
  border-radius: 50px;
  padding: 6px;
  transition: 300ms;
}

.right-content .filter-search .filter-icon:hover {
  background-color: rgb(180, 197, 255);
}

.right-content .stats .p {
  font-size: 20px;
}

.right-content .stats .span {
  font-size: 26px;
  font-style: italic;
  font-weight: 500;
}